<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.moon.invocing.repository.ApplyRepository">
	<select id="listData" resultType="HashMap" parameterType="org.moon.core.orm.mybatis.Criteria">
		SELECT a.*,u.user_name,s.name
		FROM im_apply a
		JOIN im_store s ON a.store_id = s.id
		LEFT JOIN tab_user u ON u.id = a.user_id
		WHERE ${criteria.sqlString} ${criteria.orderSql}  ${criteria.limitSql} 
	</select>
	
	<select id="countData" resultType="Integer" parameterType="org.moon.core.orm.mybatis.Criteria">
		SELECT count(*)
		FROM im_apply a
		JOIN im_store s ON a.store_id = s.id
		LEFT JOIN tab_user u ON u.id = a.user_id
		WHERE ${criteria.sqlString}
	</select>
	
	<update id="changeStatus">
		UPDATE im_apply set status=#{status} where id=#{id}
	</update>
	
	<select id="checkRemaind" resultType="Integer">
		SELECT s.number-a.apply_number AS remaind
		FROM im_apply a
		JOIN im_store s ON a.store_id = s.id
		WHERE a.id = #{id}
	</select>
	
	<update id="agree">
		UPDATE im_store s
		JOIN im_apply a
		ON s.id = a.store_id AND a.id = #{id}
		SET number = number-a.apply_number
	</update>
	
	<update id="grant">
		UPDATE im_store s
		SET number = number-#{number} where id=#{storeId}
	</update>
	
	<select id="sum" resultType="Integer">
		SELECT SUM(a.apply_number) 
		FROM im_apply a
		JOIN im_activity ac
		ON a.status = ac.id and ac.status = 1 and a.user_id = #{userId} AND a.store_id=#{storeId}
	</select>
</mapper>